@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC:wght@100..400&display=swap');


html *{
  font-family: "Playwrite AU VIC", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal
}

#menu_active{
  font-weight: bold;
  border-bottom: 1px solid plum;
}